/*
Colors used:
Background color (White): #ffffff;
Font color (Black): 000000;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px; /* sets the font size to 16px */
    font-weight: 400; /* sets font weight to 400 */
    line-height: 1.6; /* sets the line-height to 1.6 * the font-size */
    color: #000000;
}

h1, h2, h3 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 600;
}
p {
    font-size: 1.25em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #017CC1;
    text-decoration: none; /* no underlining */
}
a:hover {
    color: #cc6540;
    text-decoration: underline; /* underlining when hovering over link */
}
a:hover,
a:focus {
    color: #cc6540;
    text-decoration: underline;
}
a:active { /* selected link */
    color: #994c30;
}

.button {
    display: inline-block;
    background-color: #017CC1;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 2px;
    border-bottom: 2px solid #00507C;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #017CC1;
    text-transform: uppercase;
    border: 2px solid #017CC1;
}
.button.contact:hover {
    background-color: #017CC1;
    color: #ffffff;
}

header{
    background-color: #cccccc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    width: 100%;
}

.logo {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}
.imgWrapper {
    padding: 25px;
}
.projectDescWrapper {
    padding: 25px;
}

main {
    padding-top: 99px;
}

#hero-section {
    background-color: #cccccc;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
#hero-section span {
    display: block;
}

#work-section {
    background-color: #ffffff;
}
#work-section h2 {
    text-align: center;
}

#contact-section {
    background-color: #ffffff;
}
#about-me-section {
    background-color: #ffffff;
}

svg {
    width: 50px;
}

.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*About Page Styling*/

#about-me-section h1 {
    text-align: center;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cvbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-section h2 {
    text-align: center;
}

.skillsWrapper h3 {
    text-align: center;
}
.skillsWrapper ul {
    text-align: center;
}

.skillsWrapper2 h3 {
    text-align: center;
}
.skillsWrapper2 ul {
    text-align: center;
}


.skillsWrapper > ul {
    list-style-type: none;
    padding: 0px;
}

.skillsWrapper2 > ul {
    list-style-type: none;
    padding: 0px;
}

/* Layout Styling */
.container {
    padding: 0 15px;
}
.row{
    margin: 25px 0; 
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#work-section .row {
    padding-bottom: 25px;
}

#hero-section h1 {
    text-align: center;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}

/*CSS Animation*/
@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}


.social-links {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}

.social-links > a {
	margin: 25px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    .col-md-6 {
        width: 50%;
    }
    [class*="col-md-6"] {
        float: left;
        padding-right: 10px;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    [class*="col-"] {
        float: left;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    .col-lg-7 {
        width: 50%;
    }
    .col-lg-5 {
        width: 50%;
    }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    [class*="col-"] {
        float: left;
    }
}

