/*
Colors used:
Background color (White): #ffffff;
Font color (Black): 000000;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px; /* sets the font size to 16px */
    font-weight: 400; /* sets font weight to 400 */
    line-height: 1.6; /* sets the line-height to 1.6 * the font-size */
    color: #000000;
}

h1, h2, h3 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 600;
}
p {
    font-size: 1.25em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #017CC1;
    text-decoration: none; /* no underlining */
}
a:hover {
    color: #cc6540;
    text-decoration: underline; /* underlining when hovering over link */
}
a:hover,
a:focus {
    color: #cc6540;
    text-decoration: underline;
}
a:active { /* selected link */
    color: #994c30;
}

.button {
    display: inline-block;
    background-color: #017CC1;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 2px;
    border-bottom: 2px solid #00507C;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #017CC1;
    text-transform: uppercase;
    border: 2px solid #017CC1;
}
.button.contact:hover {
    background-color: #017CC1;
    color: #ffffff;
}

header{
    background-color: #cccccc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    width: 100%;
}

.logo {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}

main {
    padding-top: 200px;
}

#hero-section {
    background-color: #cccccc;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
#work-section {
    background-color: #ffffff;
}
#contact-section {
    background-color: #ffffff;
}
#about-me-section {
    background-color: #ffffff;
}

svg {
    width: 50px;
}

/* Layout Styling */
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0; 
}

#work-section .row {
    padding-bottom: 25px;
}

#hero-section h1 {
    text-align: center;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
